[Unit]
Description=iWebIT Agent
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/iwebit_agent.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
